body {
    font-family: "Oxygen", serif;
    margin: 0;
    background-color: #000;
}

/* header stuff here*/
header {
    background-color: #0d2677;
    padding: 1rem 10px;
}
header span {
    color: #d2cdfe;
    font-size: 1.6rem;
    font-weight: 700;
}


/* Navigation stuff here */
nav {
    background-color: #a05cff;
}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #000;
    font-weight: 700;
}

nav li.active a {
    background-color: #d2cdfe;
    color: #000;
}

nav li a:hover {
    color: white;
}

/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #FC4EE6;
}
main h2 {
    color: #0ac4c7;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: #d2cdfe;
}
main ol {
    padding: .5rem 30px;
    background-color: #000;
    color: #d2cdfe;
}
main dl dt {
    color: #FC4EE6;
    font-weight: 700;
    margin-top: 1rem;
}
main dl dd {
    color: #d2cdfe;
    font-size: .9rem;
    margin-left: 20px;
}
main ul {
    list-style-type: circle;
    color: #d2cdfe;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong {
    font-weight: 700;
    color: #d2cdfe;
}

main em {
    font-weight: 300;
}
main address {
    font-style: normal;
    background-color: #0d2677;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #d2cdfe;
    width: 200px;
    color: #d2cdfe;
}
main a {
    color: #289de6;
}
main a:hover {
    color: #FC4EE6;
}


/* footer stuff here */
footer {
    background-color: #0d2677;
    text-align: center;
    padding: 1rem 0;
    
}
footer p {
    margin: 0;
    font-size: .8rem;
    color: #d2cdfe;
    letter-spacing: 3px;
}